# h1 Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

List popular languages for Data Science

1. R
2. Python
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:

- GGplot
- Numpy
- Pytorch
- Tensorflow

|Data Science Tools|
|------------------|
| Anaconda|
| VS Code |
| R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Wali Ahmad